<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="39e0bb4c-1f17-4260-b753-1cfb05136242" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://services.groupkt.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="39e0bb4c-1f17-4260-b753-1cfb05136242fileName">http%3A%2F%2Fservices.groupkt.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://services.groupkt.com</con:endpoint></con:endpoints></con:interface>